html,
body {
  font-family: "DM Sans", sans-serif;
  color: #212529;
  font-size: 16px;
  line-height: 26px;
}
h1 {
  font-family: "Rajdhani", sans-serif;
  font-size: 24px;
  line-height: 29px;
}

p {
  font-family: "DM Sans", sans-serif;
  color: #212529;
  font-size: 16px;
}

.header {
  height: 80px;
  margin-left: 15%;
}

.header img {
  height: 100px;
  width: 160px;
}

.container-fluid {
  margin-left: 14%;
}

.navbar {
  position: relative;
}

.card {
  --bs-card-border-color: none;
}

.col-md-4 {
  /* background-color: antiquewhite; */
  width: 180px;
}

.card-body {
  position: absolute;
  margin-left: 2%;
}
.Free-Love-Calculator {
  background-color: #f8f8f8;
  padding: 70px 0;
}
.Free-Love-Calculator-heading {
  text-align: center;
}
.Free-Love-Calculator-box {
  margin-left: 15%;
  margin-right: 12%;
}
.body {
  padding: 10px 0px 24px;
}
.body {
  margin-left: 15%;
  margin-right: 15%;
}
.content {
  padding-top: 70px;
  margin-left: 15%;
  margin-right: 15%;
}

.breadcrumb-item {
  color: #fd7e14;
  cursor: pointer;
  text-decoration: none;
}
.submitButton {
  align-content: center;
}

.content h3 {
  font-size: 24px;
  line-height: 29px;
}
